.tarea{
    width: 95%;
    margin: 5px;
    height: fit-content;
    
}

.contenedor{
    width: 100%;
}
.texto{
   
    white-space: normal;
  overflow-wrap: break-word;
}
mat-grid-tile:hover{
    cursor: pointer;
    background-color: #673ab7;
    color:white;
}

.centrar{
    margin: auto;
    text-align: center;
}