<mat-toolbar color="primary">
    
    <span>Cliente</span>
    <span class="example-spacer"></span>
   
  </mat-toolbar>
  <br />
  <br />
  <mat-card class="example-card">
    <mat-card-header>
     
      <mat-card-title><mat-icon>cancel</mat-icon>ERROR 405<mat-icon>cancel</mat-icon></mat-card-title>
    
    </mat-card-header>
   
    <mat-card-content>
        <div>
        <h1>Usted no tiene permiso para acceder a este contenido</h1>
        </div>
    </mat-card-content>
    
  </mat-card>
